:root {
    --primary-color: #7a98d8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typing-wrapper p{
    font-size: 60px;
    color: var(--primary-color);
    font-weight: 600;
    text-shadow: 0 0 100px var(--primary-color);
    overflow: hidden;
    /* animation: 5s typing steps(30) infinite, blink 1s infinite; */
    white-space: nowrap;
}

@keyframes typing {
    0%, 100%{
        width: 0;
    }
    80% {
        width: 100%;
    }
    
}

@keyframes blink {
    0%, 100% {
        border-right: 5px solid var(--primary-color);
    }
    50% {
        border-right: 5px solid transparent;
    }

}